h1 {
    text-align: center;
    color: white;
  }
  p {
      text-align:justify; 
      padding-top: 30px;
      padding-right: 200px;
      padding-left: 200px;
      padding-bottom: 80px;     
    }


  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }