body {
  padding: 0;
  margin: 0;
}

#map { 
  height: 500px; 
  width: 800px; 
}

#scatter { 
  height: 500px; 
  width: 800px; 
}


/* #map,
body,
html {
  height: 100%;
} */

.legend {
  line-height: 18px;
  color: #555;
  padding: 6px 8px;
  /* font: 12px Arial, Helvetica, sans-serif; */
  font-weight: bold;
  /* background: #fff; */
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.text-labels {
  font-size: 0.8em;
  font-weight: 700;
  color:  rgba(255, 255, 255, 0.8);
  text-anchor: middle;
  text-align: center;
}